#cuadro1 {
    width: 400px;
    height: 100px;
    background-color: crimson;
}
#cuadro2 {
    width: 400px;
    height: 100px;
    background-color: yellow;
}
#cuadro3 {
    width: 400px;
    height: 100px;
    background-color: blue;
}
#cuadro4 {
    width: 400px;
    height: 100px;
    background-color: green;
}
